<ion-header>
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <div class="login-content">

    <form [formGroup]="loginForm" >
      <ion-item>
        <ion-label floating>
          
          First Name
        </ion-label>
        <ion-input formControlName="firstname" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          
          Last Name
        </ion-label>
        <ion-input formControlName="lastname" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          
          Email
        </ion-label>
        <ion-input formControlName="username" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          
          Password
        </ion-label>
        <ion-input formControlName="password"  type="password"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

  
      <ion-button type="submit" color="danger" (click)="login()" expand="block">Sign In</ion-button>

   </div>



</ion-content>

