<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

     <!-- Login form -->
     <!--  <form [formGroup]="loginForm" class="list-form"> -->
      <form [formGroup]="loginForm" >

        <ion-item lines="full">
          <ion-label name=mail position="floating">Email</ion-label>
          <ion-input formControlName="username" type="email" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password"  type="password" required></ion-input>
        </ion-item>
  
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" (click)="login()" expand="block">Login</ion-button>
            <a [routerLink]="['/signin']" class="small-text">Sign In?</a>
          </ion-col>
        </ion-row>

      </form>
  
      
  
  
      <!-- Other links -->
      <div text-center margin-top>
        <span ion-text color="secondary" tappable (click)="goToSignup()">New here? <strong>Sign up</strong></span>
      </div>
  

</ion-content>
